.other {
    width: 80vw;
    padding: 10px;
    border: 5px solid var(--primarycolor);
    border-radius: 20px;
    box-shadow: 4px 4px 6px var(--decocolor);
    background: var(--secondarycolor);
    margin-bottom: 20vh;
}

@media screen and (min-width: 900px) {
    
    .other {
        width: 70vw;
        margin-left: 5vw;
    }

  }

  @media screen and (min-width: 1200px) {
    
    .other {
        margin-left: 8vw;
    }

  }