.sidebar {
    margin-top: 460px;
    display: none;
}

.sidebar div {
    max-width: 100px;
    padding: 10px;
  }

.sidebar ul {
    position: sticky;
    right: 0px;
    top: 90px;
    list-style: none;
    margin-right: 10px;
}

.sidebar button {
    margin: 10px 0px;
    border-radius: 5px;
    font-size: 12px;
    background: var(--secondarycolor);
    color: var(--textcolor);
    cursor: pointer;
}

.sidebar ul li {
    margin-top: 10px;
    border: 2px solid var(--primarycolor);
    border-radius: 10px;
    padding: 5px;
    color: var(--textcolor);
    text-align: center;
}

@media (min-width: 900px) {

    .sidebar {
        display: block;
    }
}

@media (min-width: 1200px) {

    .sidebar ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 80px;
    }

    .sidebar ul li {
        width: 150px;
    }
}