.skills {
    width: 80vw;
    padding: 10px;
    border: 5px solid var(--primarycolor);
    border-radius: 20px;
    box-shadow: 4px 4px 6px var(--decocolor);
    background: var(--secondarycolor);
}

.codingskills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skills h2 {
    margin-bottom: 20px;
    text-align: center;
}

.skills h3 {
    text-decoration: underline;
    margin-bottom: 10px;
}

.codingskills img {
    margin: 10px;
    border-radius: 10px;
}

.codingskills a img:hover {
    box-shadow: 5px 5px 5px var(--decocolor);
}

.languageskills {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 5px;
    text-align: center;
}

.languageskills .language {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.language img {
    max-width: 40px;
    border-radius: 20%;
}

@media screen and (min-width: 900px) {

    .skills {
        width: 70vw;
        margin-left: 5vw;
    }

  }

@media screen and (min-width: 1200px) {
    .skills {
        width: 35vw;
        min-height: 40vh;
        height: auto;
        margin: 0px 1vw;
    }
  }