* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainsection1 {
    display: flex;
    flex-wrap: wrap;
    flex: 0.8;
    flex-grow: 1;
}

body {
    background-size: 100% 100%;
    color: #F9D689;
}

main {
    display: flex;
    justify-content: center;
    width: 1000px;
}

h1,
h2 {
    text-decoration: underline;
    color: #F5E7B2
}

header {
    height: 50px;
    width: 100%;
    color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button {
    height: 20px;
    margin: 10px;
}

.firstlink {
    flex-grow: 0.8;
}

.space{
    height: 250px;
    width: 100%;
    margin-top: 50px;
}

.mypic {
    border-radius: 20px;
    max-width: 200px;
    max-height: 240px;
}

.secondsec {
    display: flex;
    gap: 50px;
    padding: 10px;
}

.intro {
    min-width: 400px;
    max-width: 1000px;
    border: 2px solid #E0A75E;
    padding: 20px;
}

.hashtags {
    min-width: 150px;
    height: 200px;
    border: 2px solid #E0A75E;
    margin: 10px;
}

.hashtags button {
    margin: 10px;
}

.bio {
    border: 2px solid #E0A75E;
    margin: 100px;
    padding: 20px;
    max-width: 400px;
}

.mainsection2 {
    margin: 10px;
    position:sticky;
    top: 50px;
    right: 0px;
    flex: 0.2;
    min-width: 50px;
    max-width: 100px;
    padding: 10px;
    z-index: 1;
    height: 500px;
    border: 2px solid #E0A75E;
}

li {
    margin: 10px;
    padding: 5px;
    text-align: center;
}

.test {
    min-width: 200px;
    max-height: 100px;;
}