* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}

.mainsection1 {
  display: flex;
  flex-wrap: wrap;
  flex: 0.8;
  flex-grow: 1;
}

body {
  background-size: 100% 100%;
  color: #f9d689;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  display: flex;
  justify-content: center;
  max-width: 1300px;
  position: relative;
  top: 200px;
}

.upper_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.firstbutton {
  margin-right: auto;
}

header button {
  background-color: #f5e7b2;
  border-radius: 10px;
  border-bottom: 10px;
}

header button a {
  padding: 10px;
  color: black;
  text-decoration: none;
}

h1,
h2,
h3 {
  text-decoration: underline;
  color: #f5e7b2;
  padding-bottom: 10px;
}

header {
  height: 80px;
  width: 100%;
  color: white;
  position: fixed;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #973131;
  z-index: 1;
}

h1 {
  margin-top: 100px;
}

header button {
  height: 20px;
  margin: 10px;
}

header button:hover {
  background-color: grey;
  transition: background-color 0.5s;
}

.firstlink {
  flex-grow: 0.8;
}

.mypic {
  border-radius: 20px;
  max-width: 200px;
  max-height: 240px;
}

.secondsec {
  display: flex;
  gap: 50px;
  padding: 50px;
}

.intro,
.hashtags,
.bio,
.skills {
  border: 2px solid #973131;
  border-radius: 10px;
}

.intro {
  padding: 20px;
}

.bio {
  margin: 80px;
  padding: 20px;
}

.skills {
  margin: 80px;
  margin-bottom: 150px;
  padding: 20px;
  background-color: #973131;
}

.skills h3 {
  padding-bottom: 10px;
}

.skills a {
  padding: 10px;
}

footer {
  text-align: center;
  padding-bottom: 30px;
  position: absolute;
  bottom: 0;
}

footer h3 {
  margin-top: 10px;
}

.mainsection2 div {
  margin: 10px;
  min-width: 50px;
  max-width: 100px;
  padding: 10px;
}

.mainsection2 button {
  margin: 10px;
  border-radius: 5px;
}

.mainsection2 ul {
  margin: 10px;
  position: sticky;
  top: 90px;
  right: 0px;
  flex: 0.2;
  max-width: 100px;
  padding: 10px;
  z-index: 1;
  height: 500px;
  list-style: none;
}

.mainsection2 ul a {
  color: #f9d689;
  text-decoration: none;
}

.mainsection2 ul a:hover {
  color: #973131;
  text-decoration: underline;
  transition: color 0.5s;
}

li {
  margin: 10px;
  padding: 5px;
  text-align: center;
  min-width: 200px;
}
